# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# Build directories
/build/
/whisper.cpp/build/
/cpr/build/

# CMake and Ninja
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.ninja
*.ninja_deps
*.ninja_log

# Logs and temporary files
*.log
*.tmp

# Test outputs
*.wav
memory.json

# Ignore resource duplicates
resources/*.hpp
resources/*.cpp


