# ==============================
# Prerequisites
# ==============================
*.d

# ==============================
# Compiled Object files
# ==============================
*.slo
*.lo
*.o
*.obj

# ==============================
# Precompiled Headers
# ==============================
*.gch
*.pch

# ==============================
# Compiled Dynamic libraries
# ==============================
*.so
*.dylib
*.dll

# ==============================
# Fortran module files
# ==============================
*.mod
*.smod

# ==============================
# Compiled Static libraries
# ==============================
*.lai
*.la
*.a
*.lib

# ==============================
# Executables
# ==============================
*.exe
*.out
*.app

# ==============================
# Build directories
# ==============================
/build/
/whisper.cpp/build/
/cpr/build/

# ==============================
# CMake and Ninja
# ==============================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.ninja
*.ninja_deps
*.ninja_log

# ==============================
# Logs and temporary files
# ==============================
*.log
*.tmp

# ==============================
# Test outputs
# ==============================
*.wav
memory.json

# ==============================
# Resources
# ==============================
resources/*.hpp
resources/*.cpp
resources/*.png        # Large PNGs (e.g., GRIM_Listener_ss_normal.png)
resources/models/*.bin
/resources/models/whisper/*
resources/Resources/models/

# ==============================
# Python / Virtual Environments
# ==============================
.venv/
venv/
resources/.venv/
*/__pycache__/
*.pyc

# ==============================
# AI / Model weights
# ==============================
*.pth
*.onnx
*.dic
*.db


vcpkg_installed/** -text
external/bgfx.cmake/
vcpkg_installed/
external/

build-*/
external/build-*/


*.user
*.suo
*.vcxproj.user
*.vcxproj.filters

# Windows ghost file
nul

# Runtime / temp files
pid.txt

# Generated resources
resources/sprite/

